<template>
  <div class="<%= data.lowerName %>">

  </div>
</template>

<script lang="ts">
  import {
    defineComponent
  } from 'vue'

  export default defineComponent({
    name: '<%= data.name %>',
    props: {

    },
    emits: [],
    components: {},
    setup() {
      return {

      }
    },
  })
</script>

<style lang="less" scoped>
  .<%=data.lowerName %> {}
</style>