<template>
  <div class="<%= data.lowerName %>">
    {{ message }}
  </div>
</template>

<script lang="ts">
  import {
    defineComponent,
    ref
  } from 'vue'

  export default defineComponent({
    name: '<%= data.name %>',
    props: {

    },
    emits: [],
    components: {},
    setup() {
      const message = ref("<%= data.name %>")
      return {
        message
      }
    },
  })
</script>

<style lang="less" scoped>
  .<%=data.lowerName %> {}
</style>